<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @connection.name %>
</p>

<p>
  <strong>Relationship:</strong>
  <%= @connection.relationship %>
</p>

<p>
  <strong>User:</strong>
  <%= @connection.user_id %>
</p>

<%= link_to 'Edit', edit_connection_path(@connection) %> |
<%= link_to 'Back', connections_path %>
